name: Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: "Deploying Application"
      run: docker build . -t dsee07/next-js-app
    - name: Log in to DockerHub
      run: echo ${{ secrets.DOCKERHUB_PAT }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Push to DockerHub
      run: doker push dsee07/next-js-app:latest